  /* contol de input file de las imagenes */
  /* #mg-photo2{
    display: none;
} */

#img-photo {
  content: 'Seleccionar Archivo 1';
}

.product-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: "..."
}

/* *paginador */

.page-link {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #ffb03d;
  border-color: #ffb03d;
}

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
    bottom: 50px;
  }

  .whatsapp-icon {
    margin-top:13px;
  }
